<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="Home.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GameShop</title>
</head>
<body>
    <header>
        <div class="container-image-h">
            <div class="esquerd">
        <img class="cabeca" src="./Imagens/Glogo.png"/>
        <h1 class="game">GameShop</h1>
    
    <div class="buscas ">
         <input type="text"  id="txtBusca" placeholder="Buscar"/>
        </div>
    
        <div class="usu">
         <img class="cabeca" src="./Imagens/iconeUsu.png"/>
        </div>
    </div>
        </div>
        <ul>
            <li>Jogos</li>
            <li>Consoles</li>
            <li>Acessorios</li>
            <li>Miniaturas</li>
        </ul>
        
   </header>
   
      <div class="princi">
      <section id="consoles">
        <h2>Consoles</h2>
        <div class="image-gallery">
            <div class="image-box">
            <img src="./Imagens/console1.png" alt="Console 1" class="produto">
            <h3>PlayStation 4</h3>
        </div>
        <div class="image-box">
            <img src="./Imagens/console2.png" alt="Console 2" class="produto">
            <h3>Xbox Series X</h3>
        </div>
        <div class="image-box">
            <img src="./Imagens/console3.png" alt="Console 3" class="produto">
            <h3>PlayStation 5</h3>
        </div>
        <div class="image-box pop">
             <img src="./Imagens/console5.png" alt="Console 4" class="produto">
            <h3>Nintendo Switch</h3>
        </div>
        </div>
    </section>

    <section id="games">
        <h2>Games</h2>
        <div class="image-gallery">
            <div class="image-box">
            <img src="./Imagens/game1.jpg" alt="Game 1" class="produto">
            </div>
            <div class="image-box">
            <img src="./Imagens/game2.jpg" alt="Game 2" class="produto">
            </div>
            <div class="image-box">
            <img src="./Imagens/game3.jpg" alt="Game 3" class="produto">
            </div>
            <div class="image-box">
            <img src="./Imagens/game4.jpg" alt="Game 4" class="produto">
            </div>
        </div>
    </section>

    <section id="accessories">
        <h2>Accessories</h2>
        <div class="acesso">
            <img src="accessory1.jpg" alt="Accessory 1">
            <img src="accessory2.jpg" alt="Accessory 2">
            <img src="accessory3.jpg" alt="Accessory 3">
        </div>
    </section>

    <section id="miniatures">
        <h2>Miniatures</h2>
        <div class="mini">
            <img src="miniature1.jpg" alt="Miniature 1">
            <img src="miniature2.jpg" alt="Miniature 2">
            <img src="miniature3.jpg" alt="Miniature 3">
        </div>
    </section>
</div>
    
</body>
</html>